.sidebar {
    height: 100vh;
    background-color: #1e1e2f;
    color: white;
    width: 60px; /* collapsed width */
    transition: width 0.3s ease;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .sidebar.open {
    width: 200px; /* expanded width */
  }
  
  .toggle-btn {
    background-color: #27293d;
    border: none;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background: #353554;
  }
  
  .icon {
    font-size: 20px;
    width: 40px;
    text-align: center;
  }
  
  .label {
    font-size: 16px;
    margin-left: 6px;
  }
  .clarium-logo-shrinked {
    width: 50px;
    height: 50px;
  }
  